{% extends 'base.html' %} {% load static %} {% block body %}

<nav class="menu" data-scroll-section-inview="">
  <h1 class="menu__item-h1">
    <marquee width="76%" direction="left" height="100px">
      I design and develop experiences that make people's live easier
    </marquee>
  </h1>
  <a href="#0" target="_blank" class="menu__item">
    <span class="menu__item-text"
      ><span class="menu__item-textinner" style="transform: translate(0px, 0px)"
        ><span>Getting Started with Django</span></span
      ></span
    >
    <span class="menu__item-sub">CodePen</span>
    <span class="menu__item-sub">Github</span>
    <span class="menu__item-sub">YouTube</span>
    <div
      class="hover-reveal"
      style="
        opacity: 0;
        filter: brightness(1);
        transform: translate(129.158px, -44.04px);
      "
    >
      <div class="hover-reveal__inner" style="transform: translate(-100%, 0px)">
        <div
          class="hover-reveal__img"
          style="transform: translate(100%, 0px)"
        ></div>
      </div>
    </div>
  </a>
</nav>
 {% endblock %}
